<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS Portlet Demo</title>
    <link rel="stylesheet" href="css/app.css" th:if="${standalone}" />
</head>

<body>
    <div id="angularjsPortletDemo" class="angularjs-portlet-demo" th:id="${portletId}" ng-controller="MainController">
        <h2>AngularJS Portlet Demo v2</h2>
        <p>Authenticated User: <strong>{{authenticatedUser}}</strong></p>

        <div ng-include="currentTemplate.url">
        </div>
    </div>

    <!-- Bootstrap Angular -->
    <script type="application/javascript" th:inline="javascript">
        (function() {
            if (typeof(AUI) !== 'undefined') {
                /* We are within Liferay */
                AUI().ready(function() {
                    startAngular();
                });
            } else {
                document.addEventListener("DOMContentLoaded", function(event) {
                    startAngular();
                });
            }

            function startAngular() {
                var ajaxURL = /*[[${ajaxURL}]]*/ "/testdata/";
                var isStandalone = /*[[${standalone}]]*/ true;
                var authenticatedUser = /*[[${authenticatedUser}]]*/ "anonymous";
                var portletId = /*[[${portletId}]]*/ 'angularjsPortletDemo';
                var portletAppContextPath = /*[[${portletAppContextPath}]]*/ '';

                var app = angular.module('angularjsPortletDemo');
                app.value('ajaxUrl', ajaxURL);
                app.value('isStandalone', isStandalone);
                app.value('authenticatedUser', authenticatedUser);
                app.value('portletId', portletId);
                app.value('portletAppContextPath', portletAppContextPath);

                var appRootElem = document.getElementById(portletId);
                angular.bootstrap(appRootElem, ['angularjsPortletDemo']);
            }
        })();
    </script>

    <script type="application/javascript" src="js/vendor.js" th:if="${standalone}"></script>
    <script type="application/javascript" src="js/app.js" th:if="${standalone}"></script>
</body>

</html>