<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS Portlet Demo</title>
    <link rel="stylesheet" href="css/app.css" th:if="${standalone}" />
</head>

<body>

    <div id="ng1PortletDemo" class="ng1-portlet-demo" th:id="${portletId}" ng-controller="MainController">
        <h2>AngularJS Portlet Demo v3</h2>
        <p>Authenticated User: <strong>{{authenticatedUser}}</strong></p>
        <router-view>Loading...</router-view>
    </div>

    <!-- Bootstrap Angular -->
    <script type="application/javascript" th:inline="javascript">
        (function() {
            if (typeof(AUI) !== 'undefined') {
                /* We are within Liferay */
                AUI().ready(function() {
                    startAngular();
                });
            } else {
                document.addEventListener("DOMContentLoaded", function(event) {
                    startAngular();
                });
            }

            function startAngular() {
                var portletConfig = {
                    ajaxUrl: /*[[${ajaxURL}]]*/ "/testdata/",
                    isStandalone: /*[[${standalone}]]*/ true,
                    authenticatedUser: /*[[${authenticatedUser}]]*/ "anonymous",
                    portletId: /*[[${portletId}]]*/ 'ng1PortletDemo',
                    portletAppContextPath: /*[[${portletAppContextPath}]]*/ ''
                };

                var app = angular.module('nonblocking.ng1.portletDemo');
                app.constant('portletConfig', portletConfig);

                var appRootElem = document.getElementById(portletConfig.portletId);
                angular.bootstrap(appRootElem, ['nonblocking.ng1.portletDemo']);
            }
        })();
    </script>

    <script type="application/javascript" src="js/vendor.js" th:if="${standalone}"></script>
    <script type="application/javascript" src="js/app.js" th:if="${standalone}"></script>
    <script type="application/javascript" src="//localhost:35729/livereload.js" th:if="${standalone}"></script>
</body>

</html>