<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS Portlet Demo</title>
    <link rel="stylesheet" href="css/app.css" th:if="${standalone}" />

    <script type="text/javascript" th:inline="javascript">
        var angularJsPortletAjaxURL = /*[[${ajaxURL}]]*/ "/testdata/";
        var angularJsPortletStandalone = /*[[${standalone}]]*/ true;
        var angularJsPortletAuthenticatedUser = /*[[${authenticatedUser}]]*/ "anonymous";
    </script>
</head>

<body>
    <div data-ng-app="angularjs-portlet" data-ng-controller="MainController">
        <h2>AngularJS Portlet</h2>
        <p>Authenticated User: <strong>{{authenticatedUser}}</strong></p>

        <h3>Portal Users:</h3>
        <table class="angularjs-portlet-user-table">
            <tr>
                <th>Screen Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>EMail Address</th>
            </tr>
            <tr data-ng-repeat="user in users" data-ng-class-even="'even'">
                <td>{{user.screenName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.emailAddress}}</td>
            </tr>
        </table>
        <div class="angularjs-portlet-controls">
            Page {{currentPage + 1}} of {{totalPages()}}
            &nbsp;
            <a href="#" data-ng-click="previousPage()" data-ng-class="{ 'disabled': isFirstPage() }">Previous Page</a>
            |
            <a href="#" data-ng-click="nextPage()" data-ng-class="{ 'disabled': isLastPage() }">Next Page</a>
        </div>
    </div>

    <script type="application/javascript" src="js/vendor.js" th:if="${standalone}"></script>
    <script type="application/javascript" src="js/app.js" th:if="${standalone}"></script>
</body>

</html>